<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Image and Video Overlay</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Top container with title -->
    <div class="top-container">
        <h1 class="top-title">Media-Viewer</h1>
    </div>

    <!-- Left container with search and tags -->
    <div class="side-container">
		<input type="text" class="search-bar" placeholder="Search...">
		<button id="searchButton" class="search-button">Search</button>
        <div class="tags-title">Tags</div>
        <div class="tags-list" id="tagsContainer">
			<div th:each="tag : ${allTags}" class="tag-item" style="font-size: 20px" th:text="${tag}"></div>
        </div>
    </div>
	
	<script th:inline="javascript">
	    var mediaFiles = [[${mediaList}]];
	</script>

	<div class="container">
	        <!-- Loop through each media item in the list -->
	        <div th:each="media : ${mediaList}">
				<!-- Check if the media is an image -->
				<th:block th:if="${media != null and imageFormats != null and #lists.contains(imageFormats, #strings.substring(media, media.lastIndexOf('.')))}">
				    <img th:src="@{${media}}" alt="Image" width="150" height="150"  loading="lazy"/>
				</th:block>

				<!-- Check if the media is a video -->
				<th:block th:if="${media != null and videoFormats != null and #lists.contains(videoFormats, #strings.substring(media, media.lastIndexOf('.')))}">
				    <video width="150" height="150" controls  loading="lazy">
				        <source th:src="@{${media}}" th:type="'video/' + ${#strings.substring(media, media.lastIndexOf('.') + 1)}">
				        Your browser does not support the video tag.
				    </video>
				</th:block>
	        </div>
	    </div>
    <div class="overlay"></div>

	<div class="tags-management-container">
	    <div class="section-header">Category</div>
	    <div class="hierarchy">
	        <!-- Pass the top-level list of hierarchies and initial depth (0) -->
	        <div th:each="level : ${items}">
	            <div th:replace="(~{_recursiveHierarchy :: hierarchyFragment(${level}, 0)})"></div>
				</div>
        	</div>
		<div class="section-header">Tags</div>
        <div class="tags-section">
			<div class="tags-section">
			    <button th:each="tag : ${tags}" class="tag-button" th:text="${tag}"></button>
			</div>
        </div>
		<!-- Wrapper for the fixed confirm button -->
		<div class="confirm-button-wrapper">
		    <button id="deleteButton" class="delete-button">D</button>
		    <button id="confirmButton" class="confirm-button">Confirm</button>
		</div>
    </div>

    <!-- Arrow navigation buttons -->
    <div id="prevArrow" class="arrow">&#10094;</div>
    <div id="nextArrow" class="arrow">&#10095;</div>

    <script src="script.js"></script>
</body>
</html>